-content_for :title, 'Architecture'
.wrapper
	%ul.menu.black_menu
		.menu_logo
			= link_to (image_tag 'duck_logo_black.png', width: '125px;'), '/'
			%br
			ARCHITECTURE & INTERIORS
		%li= link_to 'Architecture', '/architecture'
		%li= link_to 'Interior Design', '/interior_design'
		%li= link_to 'Renovations', '/renovations'
		%li= link_to 'Additions', '/additions'
		%li= link_to 'Works In Progress', '/works_in_progress'

	#property_viewer_div
		- @properties.each do |property|
			- cover_photo = property.photos.first
			- if cover_photo
				.cover_photo_container
					= link_to (image_tag "#{cover_photo.filename}", size: '240x180'), property, title: property.name

	.push

%footer.black_footer
	%ul#footer_menu
	.top_bah
	%li= link_to 'About', "/about"
	%li= link_to 'Recognition', "/recognition"
	%li= link_to 'Affiliates', "/affiliates"
	%li= link_to 'Contact', "/contact"
