- content_for :title, @property.name
.wrapper
	%ul.menu.black_menu
		.menu_logo
			= link_to (image_tag 'duck_logo_black.png', width: '125px;'), root_path
			%br
			ARCHITECTURE & INTERIORS
		%li= link_to 'Architecture', '/architecture'
		%li= link_to 'Interior Design', '/interior_design'
		%li= link_to 'Renovations', '/renovations'
		%li= link_to 'Additions', '/additions'
		%li= link_to 'Works In Progress', '/works_in_progress'

	#property_show_div
		#current_photo_viewer
			- cover_photo = @property.photos.first
			.image_container
				.prev_image{title: 'Previous Image'} <
				.current_image= image_tag "#{cover_photo.filename}", height: '500px', data: {id: cover_photo.id}, title: cover_photo.description
				.next_image{title: 'Next Image'} >
		#photos_scroll
			- @property.photos.each do |photo|
				.property_image= image_tag "#{photo.filename}", height: '70px', data: {id: photo.id}, title: photo.name

	.push

%footer.black_footer
	%ul#footer_menu
	%li= link_to 'About', "/about"
	%li= link_to 'Recognition', "/recognition"
	%li= link_to 'Affiliates', "/affiliates"
	%li= link_to 'Contact', "/contact"
